name: projeto

services:
  bd_nosql:
    build:
      context: ./DOCKER
      dockerfile: Dockerfile-BD_NOSQL
    container_name: mongodb
    ports:
      - "27017:${NOSQL_PORT}"
    volumes:
      - nosql_data_volume:/data/db
      # - ./BD_NOSQL/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js
    environment:
      MONGO_INITDB_DATABASE: ${NOSQL_DB}
      MONGO_INITDB_ROOT_USERNAME: ${NOSQL_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${NOSQL_PASS}

  bd_sql:
    build:
      context: ./DOCKER
      dockerfile: Dockerfile-BD_SQL
    container_name: postgresdb
    ports:
      - "5432:${SQL_PORT}"
    volumes:
      - sql_data_volume:/var/lib/postgresql/data
      # - ./BD_SQL/init-postgres.sql:/docker-entrypoint-initdb.d/init-postgres.sql
    environment:
      POSTGRES_USER: ${SQL_USER}
      POSTGRES_PASSWORD: ${SQL_PASS}
      POSTGRES_DB: ${SQL_DB}

volumes:
  nosql_data_volume:
    driver: local
  sql_data_volume:
    driver: local